<div class="module csvdraw" ng-controller="csvdrawController">
   
    <div class="typeList" ng-show="type != 'detail'" ng-if="!config.useLogin" >
        <!-- type list -->
        <div ng-class="'listType' + type.charAt(0).toUpperCase() + type.slice(1)" >
            <div class="fieldsContainer" ng-repeat="item in elements | filter:searchitem" ng-click="goToDetail(item.id)">
                <div class="field field1" ng-show="item.field1" ng-style="fieldSize(moduleConfig.staticsFields.field1.size)">
                    <h3 ng-if="fieldsNames.field1.type === 'title' " ng-bind-html="item.field1"></h3>
                    <p ng-if="fieldsNames.field1.type === 'text' " ng-bind-html="item.field1"></p>
                    <img ng-if="fieldsNames.field1.type === 'image' " src="{{item.field1}}">
                    <a ng-if="fieldsNames.field1.type === 'link' " href="{{item.field1}}">{{fieldsNames.field1.csvVar}}</a>
                </div>
                <div class="field field2" ng-show="item.field2" ng-style="fieldSize(moduleConfig.staticsFields.field2.size)">
                    <h3 ng-if="fieldsNames.field2.type === 'title' " ng-bind-html="item.field2"></h3>
                    <p ng-if="fieldsNames.field2.type === 'text' " ng-bind-html="item.field2"></p>
                    <img ng-if="fieldsNames.field2.type === 'image' " src="{{item.field2}}">
                    <a ng-if="fieldsNames.field2.type === 'link' " href="{{item.field2}}">{{fieldsNames.field2.csvVar}}</a>
                </div>
                <div class="field field3" ng-show="item.field3" ng-style="fieldSize(moduleConfig.staticsFields.field3.size)">
                    <h3 ng-if="fieldsNames.field3.type === 'title' " ng-bind-html="item.field3"></h3>
                    <p ng-if="fieldsNames.field3.type === 'text' " ng-bind-html="item.field3"></p>
                    <img ng-if="fieldsNames.field3.type === 'image' " src="{{item.field3}}">
                    <a ng-if="fieldsNames.field3.type === 'link' " href="{{item.field3}}">{{fieldsNames.field3.csvVar}}</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- type detail -->
    <div class="typeDetail" ng-show="type === 'detail'" ng-if="!config.useLogin">
        <div class="detailHead">
            <svg version="1.1" id="backToListButton" ng-click="backToList()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124
			c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844
			L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412
			c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008
			c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788
			C492,219.198,479.172,207.418,464.344,207.418z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
            <img src="{{detailHead.image}}" class="itemImage">
            <h2>{{detailHead.name}}</h2>
            <p>{{detailHead.description}}</p>
        </div>
        <div class="detailBody" >
            <div class="detailBodyItem" ng-repeat="(name, prop) in detailBody track by $index">
                <div ng-if="fieldsNames[name].type === 'text'">
                    <h4>{{fieldsNames[name].csvVar}}</h4>
                    <p ng-style="fieldsNames[name].style" ng-bind-html="prop"></p>
                </div>
                <div ng-if="fieldsNames[name].type === 'link'">
                    <h4>{{fieldsNames[name].csvVar}}</h4>
                    <a ng-style="fieldsNames[name].style" href="{{prop}}">{{fieldsNames[name].csvVar}}</a>
                </div>
                <div ng-if="fieldsNames[name].type === 'image'">
                    <h4>{{fieldsNames[name].csvVar}}</h4>
                    <img ng-style="fieldsNames[name].style" src="{{prop}}">
                </div>
                <div ng-if="fieldsNames[name].type === 'embed'">
                    <h4>{{fieldsNames[name].csvVar}}</h4>
                    <iframe src="{{prop}}" ng-style="fieldsNames[name].style" ></iframe>
                </div>
                <div ng-if="fieldsNames[name].type === 'extEmbed'">
                    <h4>{{fieldsNames[name].csvVar}}</h4>
                    <button ng-click="openFullScrean(prop)" class="fullScreanButton" ng-style="fieldsNames[name].style">{{fieldsNames[name].csvVar}}</button>                </div>
                <div ng-if="fieldsNames[name].type === 'code'">
                    <iframe srcdoc="{{prop}}" ng-style="fieldsNames[name].style"></iframe>
                </div>
            </div>
            
        </div>
    </div>
    
    
    <div class="holds-the-iframe" ng-show="isBussy"></div>
</div>
